@media print {
    body * { visibility: hidden; }

    .non_print_area { display: none !important; }

    .print_area,
    .print_area * { visibility: visible; }

    .print_area {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }

    .preview-cnt {
        box-shadow: none !important;
        border-radius: 0 !important;
    }

    .preview-topbar { display: none !important; }
}
